* {
  margin: 0;
  padding: 0;
}

#registerAndLoginContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 50%;
  margin: auto;
  margin-top: 10vh;
  padding: 20px;
  border-radius: 5px;
}

#registerAndLoginContainer input,
select,
button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
}

#registerAndLoginContainer button {
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
}

#registerAndLoginContainer span {
  color: blueviolet;
  cursor: pointer;
}

#registerAndLoginContainer p {
  text-align: center;
}

#registerAndLoginContainer h1 {
  text-align: center;
  color: blueviolet;
  font-size: x-large;
  font-weight: bold;
  margin: 20px 0px;
}

#registerAndLoginContainer .processing {
  cursor: progress;
}

.App {
  text-align: center;
}

.admin-main-container {
  /* border: 1px solid red; */
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 20% 80%);
}

.cont-1 {
  background-color: rgb(3, 225, 225);
}

.admin-main-container>div {
  border: 1px solid green;
}

.profile-image-div {
  border: 1px solid black;
  width: 70%;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}

.profile-image-div>img {
  width: 100%;
}

.detail-container {
  /* border: 1px solid hotpink; */
  background-color: rgb(5, 182, 182);
  /* color: white; */
  text-align: center;
  padding: 10px 0px;
}

.cont-2-box {
  /* border: 1px solid greenyellow; */
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 10px;
}

.cont-2 {
  text-align: center;
}

.resumecontainer {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding: 20px;
}

.resumecontainer>div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 5px;
}

.resumecontainer img {
  width: 70%;
  height: 300px;
}

.resumecontainer p {
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.resumecontainer svg {
  cursor: pointer;
  color: red;
}